<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date %-5level %logger - %msg %n</Pattern>
		</encoder>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>